<h1>コメントの追加</h1>
<%= javascript_include_tag "cards" %>
<%= form_for @card do |form| %>
<ul>
  <li><%= form.label :commnent_body, "コメント" %><%= form.text_field :commnent_body %></li>
  <li><%= form.submit "送信" %></li>
</ul>
<% end %>
